TEAMUP_API_HOST=127.0.0.1
TEAMUP_API_PORT=8787

TEAMUP_SQL_SERVER=
TEAMUP_SQL_PORT=1433
TEAMUP_SQL_USER=
TEAMUP_SQL_PASSWORD=
TEAMUP_DB=TeamUp
WM_DB=WM

TEAMUP_SQL_ENCRYPT=true
TEAMUP_SQL_TRUST_CERT=true
TEAMUP_REQUIRE_REWARD_CLAIM_SALES_ID=true
TEAMUP_DEV_CLAIM_SALES_ID=
EXP_POINT_RULE=1